@import "tailwindcss";

@theme {
  --font-sans: Inter, Avenir, Helvetica, Arial, sans-serif;
}

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  @apply bg-zinc-800 text-zinc-100;
}
